body {
  margin: 0;
}

#container {
  border: 1px solid black;
  width: 452px;
  height: 352px;
  scroll-behavior: auto;
  overflow: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.localBoxShopping {
  border: 1px solid red;
  width: 390px;
  height: 190px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.newList {
  border: 1px solid green;
  width: 350px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.totalItens {
  border: 1px solid orange;
  width: 350px;
  height: 60px;
  margin: auto;
}

.boxTotalAllLists {
  border: 1px solid red;
  width: 390px;
  height: 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#totalAllLists {
  border: 1px solid orange;
  width: 350px;
  height: 60px;
  margin: auto;
}
